
.formm {
background:#fcfcfc;
border-radius:10px;
padding:20px;
padding-top:30px;
width:50%;
margin:0 auto;
margin-top: 50px;
margin-bottom: 90px;
box-shadow:0px 15px 30px #40403d;
}

.inputt {
width:100%;
background:#c7ccd0;
border:0;
padding:20px;
border-radius:10px;
margin-bottom: 5px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: white;
font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
color: white;
font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
color: white;
font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
color: white;
font-style: italic;
}

.judulHalaman{
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  
}

.tombol{
	padding: 8px 15px;
	border-radius: 3px;
	background: #ECF0F1;
	border: none;
	color: #232323;
	font-size: 12pt;
}

.kotak{
	margin: 20px auto;
	background: #1ABC9C;
	width: 900px;	
	padding: 20px 50px 50px 50px;
	border-radius: 3px;
}

.w3-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.w3-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.w3-container {
  padding: 2px 16px;
}

.bg-navy-blue{
	background-color: #FFFFFF;
	color: black;
}

.bg-navy-blue:hover{
	background-color: #0D47A1;
	color: black;
}

.bg-amber{
	background-color: #FF9B20;
}