
/* Style the tab */
.det-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e8e8e8;
}

/* Style the buttons inside the tab */
.det-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.det-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.det-tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.det-tabcontent {  
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.m-t-1{
  margin-top: 1%;
}

.m-t-2{
  margin-top: 2%;
}

.m-t-3{
  margin-top: 3%;
}

.m-t-4{
  margin-top: 4%;
}

.m-t-5{
  margin-top: 5%;
}




/*Testimonials css*/
/* Slideshow container */
.tslideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.tmySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.tprev, .tnext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.tnext {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.tprev:hover, .tnext:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.tdot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.tdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.tactive, .tdot:hover {
  background-color: #717171;
}


/* Add a blue color to the author */
.tauthor {color: cornflowerblue;}




/*Start menu navbar css*/
.w3-navbar {
  overflow: hidden;
  background-color: #333;
}

.w3-navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.w3-dropdown {
  float: left;
  overflow: hidden;
}

.w3-dropdown .w3-dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.w3-navbar a:hover, .w3-dropdown:hover .w3-dropbtn {
  background-color: #0D47A1;
}

.w3-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.w3-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.w3-dropdown-content a:hover {
  background-color: #0D47A1;
}

.w3-dropdown:hover .w3-dropdown-content {
  display: block;
}
/*End menu*/

